body {
    padding: 0px;
    margin: 0px;
}

/* Conatiner specifiers */

.container {
    height: auto;
    width: 76vw;
    margin: auto auto;
}

.container-full {
    width: 100vw;
}

/* Text area specifiers */

.text-small{
    width: 40%;
}

.text-full{
    width: 100%;
}

.text-medium{
    width: 60%;
}

/* Text alignment specifers */

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}


/* Position specifers for all elements */

.left{
    float: left;
}

.right{
    float:right;
}

.center{
    margin: auto auto;
}

.vertical-center{
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}

/* Placement order specifers */

.horizontal-line{
    display: inline-block;
    vertical-align: top;
}

.vertical-line{
    display: block;
}

.line{
    text-align: center;
}

/* Width Specifiers for all elements */

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100{
    width: 100%;
}

